{% extends "base.html.twig" %}


{% block title %} Actor {% endblock %}

{% block head %}
<style>
body{
    background-color: grey;
}
.card {
    opacity: 0;
   
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
.card.load {
    opacity: 1;
}
</style>

{% endblock %}

{% block content %}
<h1 class="lead text-white front"> Film : </h1> 
<div class="card w-75 bg-dark text-center text-white p-4 mb-4 ">
<h2>{{movie.title}} ({{movie.date | date('d/m/Y') }})</h2>

{{movie.genre.name}} - {{movie.director.firstname}} &nbsp; {{movie.director.lastname}} 
<div>
<img src="{{ movie.coverImage}}" witdh="50">
</div>

<p class="lead">{{movie.description}}</p>
</div>
{% endblock %}


{% block lien %}
<a class='btn btn-secondary p-1 m-1' href="/php/MVCObjet/acteurs">liste des acteurs</a>
<a class='btn btn-secondary p-1 m-1' href="/php/MVCObjet/directors">liste des directeurs</a>
{% endblock %}


{% block test %}

<script>
    $(function() {
        $(".card").addClass("load");
    });
    
</script>

{% endblock %}